//- extends admin_layout

//- block content
//- 	#datablock(style="display: none", data-userid=`${user._id}`)

//- 	h1 Create a New Taxonomy
//- 	.form.postForm
//- 		.row
//- 			.col-sm-8
//- 				ul.list.postformList
//- 					li
//- 						h3 Taxonomy Name
//- 						input(type="text", id="q_name")
//- 					li
//- 						h3 Taxonomy Description
//- 						textarea#q_description
							
//- 	p.btn(href="", id="send_btn") Submit
//- 		img#spin(src="/static/img/spin.gif")
//- 		#error_box
//- 		#successBox