include ./partials/_head.pug

body
	.main_img_box
		header
			.container-fluid 
				h1 Evening Bastion
					


	block content

	//- footer
	//- 	p Website 2016 All Rights Reserved

	script(src='/static/js/jquery-3.1.1.min.js')
	script(src='/static/js/main.js')
